.navWrapper {
  grid-area: n;
  background-color: Gray;
}

.nav {
  padding: 10px;
}

nav a {
  text-decoration: none;
}

.item {
  color: white;
}

.activeLink {
  color: gold;
  font-weight: bold;
}